@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
.form-box .error-text {
    color: red;
    visibility: hidden;
  }

.form-box.form-error input {
    border-bottom: 2px solid red;
  }
  .form-box.form-error .error-text {
    visibility: visible;
  }
  .form-box.form-success input {
    border-bottom: 2px solid lightseagreen;
  }